<div class="mat-elevation-z8">
  <table mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dessert (100g) </th>
      <td mat-cell *matCellDef="let dessert"> {{dessert.name}} </td>
    </ng-container>

    <!-- Calories Column -->
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
      <td mat-cell *matCellDef="let dessert"> {{dessert.calories}} </td>
    </ng-container>

    <!-- Fat Column -->
    <ng-container matColumnDef="fat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fat (g) </th>
      <td mat-cell *matCellDef="let dessert"> {{dessert.fat}} </td>
    </ng-container>

    <!-- Carbs Column -->
    <ng-container matColumnDef="carbs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Carbs (g) </th>
      <td mat-cell *matCellDef="let dessert"> {{dessert.carbs}} </td>
    </ng-container>

    <!-- Protein Column -->
    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Protein (g) </th>
      <td mat-cell *matCellDef="let dessert"> {{dessert.protein}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>